body{
    background-color: rgb(145, 31, 31) 
}
h1{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.menu-boton{
    background-color: rgb(255, 4, 4);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3, transform 0.2s;
}
.menu-boton:hover{
    background-color: white;
    color:black
    transition: background-color 0.5, transform 0.3s;
}
header{
    border-radius: 30%;
    background-color: rgb(31, 1, 1);
    padding: 20px;
    color: black;
    text-align: center;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 12px;
    z-index: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius 70%
}
header{
    text-align: center;
    animation: aparecer 1.5s ease-out forwards;
    opacity: 0; /* empieza invisible */
}
@keyframes aparecer {
0% {
opacity: 0;
transform: translateY(50px);
}
100%{
opacity: 1;
transform: translateY(0);
}
}
.productos-contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 5px;
    } 

.producto {
    background-color: rgb(236, 213, 213);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 10px;
}

.moverimagen{
    width: 40%;
    height: 100%;
    animation: aparecer 4.5s ease-out forwards;
}

main{
    text-align: center;
}